#container{
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;      
}

header{
  width: 90%;
  height: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333c; 
  margin-top: 30px; 
}

#title_principal{
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 36px;
}

section{
  width: 87%;
  margin-top: 50px;  
  display: flex;
  flex-direction: row;
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#back{
  width: 70%;
  height: 300px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("house.jpg"); 
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

#gradient{
  width: 100%;
  height: 45%;
  position: absolute;  
  bottom: 0;
  opacity: 0.3;
  background-position: center top;
  background: linear-gradient(#c3c3c3, black);
}

aside{
  width: 29%;
  height: 300px;  
  border-radius: 5px;
  border-right: 1px #c3c3c3 solid;
  border-top: 1px #c3c3c3 solid;
  border-bottom: 1px #c3c3c3 solid;
  padding-left: 20px;
  position: relative;
}

#title{
  color: #999;
}

#price{
  font-size: 20px;  
}

#direction{
  font-size: 18px;
  color: #2a63cb;
  max-width: 75%;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#state{
  font-size: 14px;
  color: #999;  
  clear: both;
  position: absolute;
  top: 25px;
}

#text-house{
  color: #999;
  font-size: 15px;
  display: -webkit-box;
  max-width: 84%;
  height: 109.2px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

#prices{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 30px;
  margin-top: 5px;
}

.size{
  width: 90%;
  height: 25px;
}

.size_state{
  height: 35px;
}

#states{
  margin-top: 35px;
  width: 100%;
  position: absolute;
  left: 30px;
  top: 42px;
}

#houses{
  margin-top: 25px;
  width: 90%;
  height: 110px;
  position: absolute;
  bottom: 27px;
  left: 30px;
}